@define-color highlight rgba(95, 74, 139, 0.7);
@define-color dark-9 rgba(24, 24, 27, 0.7);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding-bottom: 12px;
}

button {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -3px transparent;
}

button:hover {
    background: inherit;
}

#workspaces {
    margin: 10px 10px 0px 10px;
    background-color: @dark-9;
    border: 2px solid #663399;
    border-radius: 7px;
}

#workspaces button {
    padding: 3px;
    margin: 5px 5px 5px 5px;
    background: transparent;
    border-radius: 2px;
    color: #ffffff;
}

#workspaces button.active{
    background: @highlight;
    color: black;
    font-weight: 700;
}

#clock {
    margin-top: 10px;
    padding: 0px 0px 0px 10px;
    color: #ffffff;
    background-color: @dark-9;
    border: 2px solid #663399;
    border-radius: 7px;
    box-shadow: 0px 4px 8px 0px rgba(203, 166, 247, 0.4);
}

.modules-right {
	background-color: @dark-9;
	margin: 10px 10px 0px 10px;
	border: 2px solid #663399;
	border-radius: 7px;
}

#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #663399;
}

#cpu {
    padding: 0;
    color: #ffffff;
}

